/*
  BACKGROUNDS COLORS

  - default
  - orange
  - blue
  - gold
*/
:root {
  --default: #f6f6f6;
  --default-opacity: rgba(255, 255, 255, 0.4);
  --menuSelection: #D50133;
  --alert: #ff0018;
  --yellow: #FFC72B;
}
