.icon {
  text-shadow: 0 1px 0.5px rgba(106, 102, 88, 0.64);
}

.dropdown-toggle::after {
  border: none !important;
}

/*----------------page-wrapper----------------*/
.page-wrapper {
  height: 100vh;
  overflow: hidden;
}

.page-wrapper .page-content .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 777;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
  width: 80px;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
  padding: 10px;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic {
  margin: 0 auto;
  width: 50px;
  float: none;
}

.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic img {
  margin: auto;
}

  /* page-wrapper stretch all content of sidebar when pinned is ON */
  .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-info,
  .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .header-menu,
  .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .sidebar-submenu,
  .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul > li > a > span,
  .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul > li > a::after,
  .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer > div:not(.pinned-footer) {
    display: none;
  }

  .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer > div.pinned-footer {
    display: block;
  }

/*----------------page-content ----------------*/
.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: padding-left .3s ease;
  transition: padding-left .3s ease;
  overflow-x: hidden;
}

/*---------------- MEDIA QUERIES ----------------*/

@media screen and (min-width: 768px) {

  .page-wrapper.toggled .page-content {
    padding-left: 250px;
  }

  .page-wrapper.toggled.pinned .page-content {
    padding-left: 80px;
  }

}

@media screen and (max-width: 768px) {

  .page-wrapper.toggled .page-content .overlay {
    display: block;
  }

}
